# python tmp files
*.py[cdo]
.coverage
htmlcov/
*.egg-info/
*.egg/
dist/
build/

# pycharm configs
/.idea/*

# for setup virtualenv
.rvmrc

# vim files
.*.un~
.*.swp
*.ropeproject

# log files
/logs/*

# marks
.local
.production
